<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <a href="#">내비게이션바</a>
        <div>
          <ul>
            <li>
              <a href="/">Home <span>(current)</span></a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a href="/about_me">About Me</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main-area">
      <h1>Blog</h1>
        
      {% if post_list.exists %}
      {% for p in post_list %}
      <hr/>
      <h2><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>
      <h4>{{ p.created_at }}</h4>
      <p>{{ p.content }}</p>
      {% endfor %}
      {% else %}
      <h3>아직 게시물이 없습니다.</h3>
      {% endif %}
    </div>
  </body>
</html>
